# sementara untuk template

# Unity generated
Library/
Temp/
Logs/
obj/
Build/
Builds/
UserSettings/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# OS generated
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.unityproj
